<nav class="navbar navbar-expand-lg topbar">
  <div class="container-fluid page-wrap py-2">
    <a class="navbar-brand d-flex align-items-center gap-2 m-0" href="/index.html"><span class="brand-mark">ح</span>
        <span>كتب الشيخ يحيى اليحى -حفظه الله- </span>
    </a>
     &nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-label="فتح القائمة"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav me-auto gap-1">
        <a class="nav-link" data-nav="browse" href="/browse.html">عرض الكتب</a>
        <a class="nav-link" data-nav="search" href="/search.html">البحث في الحديث</a>
        <a class="nav-link" data-nav="index" href="/hadith-index.html">فهرس الأطراف</a>
        <a class="nav-link" data-nav="narrators" href="/narrators.html">البحث في الرواة</a>
        <a class="nav-link" data-nav="musnad" href="/musnad.html">مسند الرواة</a>
      </div>
    </div>
  </div>
</nav>
